{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Category Product</h2>
        <ul class="product-list">
            {% for product in products %}
                <li class="col-lg-3 product-item">
                    <img src="/uploads/images/products/{{ product.imageName }}" alt="">
                    <h2 class="text-center"><a href="/product/view/{{ product.name }}">{{ product.name }}</a></h2>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}