{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <h2 class="text-center">Registration form</h2>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>
