{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="product-list"></ul>
        {% for product in products %}
            <li class="col-lg-4 product-item">
                <img src="{{ asset('assets/img/white-gift-box-1.jpg') }}" alt="">
                <h2 class="text-center"><a href="{{ path('product_view', {'name': product.name}) }}">{{ product.name }}</a></h2>
            </li>
        {% endfor %}
    </div>
{% endblock %}