{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="product-list clearfix">
            {% for product in products %}
                <li class="col-lg-3 product-item">
                    <img src="/uploads/images/products/{{ product.imageName }}" alt="">
                    <h2 class="text-center"><a href="{{ path('product_view', {'name': product.name}) }}">{{ product.name }}</a></h2>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}