{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for product in products %}
            <div class="col-lg-4">
                <img src="{{ asset('assets/img/white-gift-box-1.jpg') }}" alt="">
                <h2 class="text-center"><a href="/product/{{ product.name }}">{{ product.name }}</a></h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}